<div class="calendar">
    <header>      
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <h3 class=""><span></span><strong>18 JAN – 24 JAN</strong> 2016</h3>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
      </header>
      
      <div class="outer">
            <div class="wrap mt-2">    
                <table class="table table-borderless offset">
                    <thead>
                      <tr>
                        <th style="width: 3em;"></th>  
                        <th  *ngFor="let day of week">{{day}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let hour of hours; let j = index">
                          <th class = "colhead"><span class ="hour">{{hour}}</span></th>
                          <td class="colevent" *ngFor = "let day of daysInWeek ; let i = index"></td>
                      </tr>
                      
                    </tbody>
                  </table>

            </div>    
      
        </div>
